
<nb-card>
  <nb-card-header>Schwierigkeit 
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">
          
          <div [(ngModel)]="radioModel" ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group" >
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[1]" [(ngModel)]="difficulty"> 1 (leicht)
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[2]" [(ngModel)]="difficulty"> 2 (mittel)
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[3]" [(ngModel)]="difficulty"> 3 (schwer)
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[0]" [(ngModel)]="difficulty"> Verboten
            </label>
          </div>
          </div>
      </div>
  </div>
</nb-card-body>
</nb-card>
<nb-card>
<nb-card-header>
  Karte
</nb-card-header>
  <nb-card-body #halle_container>
	<img #halle src="assets/images/Hallenplan.png" (click)="changePosition($event)">
	<img id="x1" [ngStyle]="{'top.px': cross1.top, 'left.px': cross1.left }" src="assets/images/Kreuz.png" *ngIf = "cross1.visible">
  <img id="x2" [ngStyle]="{'top.px': cross2.top, 'left.px': cross2.left }" src="assets/images/Kreuz.png" *ngIf="cross2.visible">
   <img id="xy" [ngStyle]="{'top.px': xy.top, 'left.px': xy.left  , 'transform': 'rotate('+xy.phi+'deg)'}" src="assets/images/XY.png" *ngIf="xy.visible">
  <svg *ngIf="!point1 && !point2">
    <svg:rect class="rect" *ngFor="let rect of rects" [ngStyle]="{'fill': rect.value.color}" [attr.height]="rect.height" [attr.width]="rect.width"  [attr.x]="rect.x" [attr.y]="rect.y" (click)="changeRectValue(rect);"/>  
  </svg>
  <img id="robotino" [ngStyle]="{'top.px': robotino.top, 'left.px': robotino.left}" src="assets/images/robotino_oben.png" *ngIf="robotino.visible">
</nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Unterteilung und Ausrichtung</nb-card-header>
  <nb-card-body>
  	<div class="row">
  	<div class="input-group col-md-6">
  	<button class="btn btn-primary btn-icon input-group-text" (click)="toggleCrossButton(cross1)">
              <i class="nb-location"></i>
            </button>
          <input type="number" class="form-control col-md-4" placeholder="X1" [(ngModel)]="cross1.x">
          <input type="number" class="form-control col-md-4" placeholder="Y1" [(ngModel)]="cross1.y">
          <button class="btn btn-success btn-icon input-group-text" (click)="recieveTagData(cross1)">
            <i class="ion-arrow-shrink"></i>
          </button>
      </div>
      <div class="input-group col-md-6">
  	<button class="btn btn-primary btn-icon input-group-text"  (click)="toggleCrossButton(cross2)">
              <i class="nb-location"></i>
            </button>
          <input type="number" class="form-control col-md-4" placeholder="X2" [(ngModel)]="cross2.x">
          <input type="number" class="form-control col-md-4" placeholder="Y2" [(ngModel)]="cross2.y">
          <button class="btn btn-success btn-icon input-group-text" (click)="recieveTagData(cross2)">
            <i class="ion-arrow-shrink"></i>
          </button>
      </div>
  </div>
  <br />
  <div class="row">
  	<div class="input-group col-md-4">
          <span class="input-group-addon primary" >Zeilen</span>
          <input type="number" class="form-control" [(ngModel)]="rows" (change)="refresh()" />
    </div>
    <div class="input-group col-md-4">
          <span class="input-group-addon primary">Spalten</span>
          <input type="number" class="form-control" [(ngModel)]="cols" (change)="refresh()" />
    </div>
   <button class="btn btn-success col-md-4" (click)="save()">Speichern</button>
        </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Robotino Position </nb-card-header>
  <nb-card-body>
    <div class=" col-md-6">
    <button class="btn btn-primary "  (click)="robotino.visible = !robotino.visible">
              {{robotino.visible}}
    </button>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Kartendetails</nb-card-header>
  <nb-card-body>
    <div class="row">
        <div class="input-group col-md-12">
                <span class="input-group-addon primary">Name</span>
                <input type="text" class="form-control" [(ngModel)]="name" />
        </div>
      </div>
    </nb-card-body>
  </nb-card>