
<nb-card>
  <nb-card-header>Blasenbelastbarkeit
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">

          <div  ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group" >
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[1]" [(ngModel)]="difficulty"> Kaum
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[2]" [(ngModel)]="difficulty"> Mittel
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[3]" [(ngModel)]="difficulty"> Gut
            </label>
          </div>
          </div>
      </div>
  </div>
</nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Geschlecht
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">

          <div  ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group" >
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[1]" [(ngModel)]="difficulty"> M
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[2]" [(ngModel)]="difficulty"> W
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="values[3]" [(ngModel)]="difficulty"> Div
            </label>
          </div>
          </div>
      </div>
  </div>
</nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Weitere Daten</nb-card-header>
  <nb-card-body>
  	<div class="row">
      <div class="input-group col-md-6">
            <span class="input-group-addon primary" >Gewicht in kg</span>
            <input type="number" class="form-control" [(ngModel)]="rows" (change)="refresh()" />
      </div><div class="input-group col-md-6">
            <span class="input-group-addon primary" >Hüftumfang in cm</span>
            <input type="number" class="form-control" [(ngModel)]="rows" (change)="refresh()" />
      </div>
      <br />
      <div class="input-group col-md-6">
            <span class="input-group-addon primary" >Größe in cm</span>
            <input type="number" class="form-control" [(ngModel)]="rows" (change)="refresh()" />
      </div><div class="input-group col-md-6">
            <span class="input-group-addon primary" >Alter in Jahre</span>
            <input type="number" class="form-control" [(ngModel)]="rows" (change)="refresh()" />
      </div>
  </div>
  <br />
  <div class="row">
   <button class="btn btn-success col-md-4" (click)="save()">Speichern</button>
        </div>
  </nb-card-body>
</nb-card>
