<div class="row">
  <div class="col-xxxl-6 col-md-6">
    <ngx-status-card title="Programmstart" type="success" (stateChange)="start = $event; autotag = false; httpSend('start');"[on]="start" >
      <i class="nb-power"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-6 col-md-6" *ngIf="start" >
    <ngx-status-card title="AutoTag" type="warning" (stateChange)="autotag = $event;lager_fahren=false;httpSend('autotag');" [on]="autotag">
      <i class="ion nb-loop"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-6 col-md-6" *ngIf="start" >
    <ngx-status-card title="Aus Lager holen" type="primary" (stateChange)="lager_fahren = $event; autotag = false;httpSend('lager');" [on]="lager_fahren">
      <i class="ion-arrow-return-left"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-6 col-md-6" *ngIf="start" >
     <nb-card class="program">
      <p>Aktuelles Programm:</p>
      <p>{{program}}</p>
     </nb-card>
  </div>
</div>
<div class="row" *ngIf="start &&  !autotag">
  <div class="col-xxxl-6 col-md-6">
    <manual-input (send)="httpSend($event[0] , $event[1])"></manual-input>
  </div> 
  <div class="col-xxxl-6 col-md-6">
    <navigation-buttons (send)="httpSend($event)"></navigation-buttons>
  </div> 
</div>
<div class="row" *ngIf="lager_fahren && start">
  <div class="col-xxxl-6 col-md-6">
    <grab-settings #lager></grab-settings>
  </div> 
</div>
<div class="row">
  <div class="col-xxxl-12 col-md-12">
    <nb-card>
        <img src="assets/images/Oberfranken_4_0.svg" style="width:100%">
    </nb-card>
    <nb-card>
      <img src="assets/images/Foerderung_EFRE.svg" style="width:100%">
    </nb-card>
  </div> 
</div>